.shoppingCart{
    display:flex;
    justify-content:flex-end;
    float:right;
    padding-top:10px;
}
.cartThumbnail{
    width:120px;
    color:#fff;
    text-align:right;
    font-size:1.4em;
    background:#bdb7b7 url('../shopping_cart.png') no-repeat;
    padding-right:10px;
    float:right;
} 
.cartThumbnail .itemAmount{
    position:relative;
    left:-15px;
    top:-3px;
    font-size:0.7em;
    background-color:rgb(235, 107, 38);
    border:2px solid white;
    border-radius:50%;
    width:18px;
    height:18px;
    display:inline-block;
    text-align:center;
    line-height:14px;
}
.cart{
    float:right;
    border:1px solid black;
    height:27px;
    background-color:#bdb7b7;
}
.cartItem{
    margin:15px 10px;
    list-style:none;
}
.cartImg{
margin:3px 10px;
display:block;
width:80px;
float:left;
}
.cartItemName{
    width:150px;
    display:inline-block;
    margin:3px 10px;
}
.cartSelect{
    margin:3px 10px;
    width:50px;
    display:inline-block;
}
.cartItemUnit{
    margin:3px 10px;
    width:50px;
    display:inline-block;
}
.cartSubTotal{
    margin:3px 10px;
    width:50px;
    display:inline-block;
}
.delItem{
    background-color:#ccc;
    cursor:pointer;
}
