.list{
  position: relative;
  grid-column: 1/span 2;
}
.subC{
  display:none;
  position: absolute;
  padding-left:60px;
  left: 100%;
  top: 0;
  width:100vw;
  height: 500px;
  z-index: 99;
  background-color: #eeeeee;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto; 
}
.flex-ctn{
  display:flex;
  flex-wrap:wrap;
}
.children{
  margin:5px 10px;
  cursor: pointer;
}
.cat-ctn{
  padding:3px 0px 3px 3px;
  display:block;
}
a:hover{
  text-decoration: none;
}
.subC-ctn{
  display:grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}
.categories{
  grid-column: 1/-1;
  margin:5px 0 5px 40px;
  cursor: pointer;
}
.selectCat{
  border: 1px solid #e8e8e8;
  padding: 2px 3px;
  margin:0 1px;
}
.selectCat:hover{
  border: 1px solid red;
  text-decoration: none;
  cursor: pointer;
}
/* .selectCat:hover > .btn-x {
  color:red;
}
.btn-x{
  margin-left:4px;
  vertical-align: bottom;
} */
.most-right{
  margin-left:auto;
}
.adbanner{
  grid-column: 3/-1;
  width:500px;
  height:500px;
  margin:0 auto;

}