/*opacity affect child elements, using rgba instead*/
.viewCart{
    clear:both;
    width:600px;
    /* position:fixed; */
    position:relative;
    /* left:-390px; */
    background: white;
    border:1px solid #ccc;
    margin-bottom: 5px;
    z-index: 3;
    white-space: nowrap;
    overflow-x: scroll;
}
.cartDetail{
    clear:both;
}
.closeCart{
    float:right;
    border:1px solid #ccc;
    padding:0px 4px;
    margin:10px;
}
.viewCartOverlay{
    width:100%;
    height:100%;
    position: fixed;
    top:0px;
    left:0px;
    background: rgba(213, 241, 247, 0.5);/*opacity affect child elements, using rgba instead*/
    display:flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 2;
}